<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script>
        /*获取 sideNav.html , 放到 sideNavDiv*/
        $.get("sideNav", function (data) {
            $("#sideNavDiv").html(data);
        });
    </script>
    <title>Document</title>
</head>
<body>


<div id="sideNavDiv"></div>
<main>
    <div class="section" id="index-banner">
        <div class="container">
            <div class="row" style="margin-bottom: 0;">
                <!-- center-on-small-only-->

                <h1 class="header">标题</h1>
                <h4 class="light">简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介</h4>

            </div>
        </div>
    </div>
    <div class="container">
        <!--  Outer row  -->
        <div class="row">
            <!--center-on-small-only-->


            <!--  Material Design -->
            <div id="materialdesign" class="section scrollspy">
                <h2 class="header">副标题</h2>
                <p class="caption">简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简
                    要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍简要介绍.</p>
                <div class="video-container">
                    <!--<iframe width="853" height="480" src="#" frameborder="0" allowfullscreen></iframe>-->
                </div>

                <div class="row">

                    <div class="col s4">
                        <img class="promo" src="/static/img/150150.jpg"/>
                        <h4 class="center">副标题副标题副标题</h4>
                        <p>要介绍简要介绍简要介绍简要介绍简要介绍简要要介绍简要介绍简要介绍简要介绍简要
                            介绍简要要介绍简要介绍简要介绍简要介绍简要介绍简要要介绍简要介绍简要介绍简要介绍
                            简要介绍简要介绍简要介绍简要介绍简要要介绍简要介绍简要介绍简要介绍简要介绍简要</p>
                    </div>
                    <div class="col s4">
                        <img class="promo" src="/static/img/150150.jpg"/>
                        <h4 class="center">副标题副标题副标题</h4>
                        <p>要介绍简要介绍简要介绍简要介绍简要介绍简要要介绍简要介绍简要介绍简要介绍简要
                            介绍简要要介绍简要介绍简要介绍简要介绍简要介绍简要要介绍简要介绍简要介绍简要介绍
                            简要介绍简要介绍简要介绍简要介绍简要要介绍简要介绍简要介绍简要介绍简要介绍简要</p>
                    </div>
                    <div class="col s4">
                        <img class="promo" src="/static/img/150150.jpg"/>
                        <h4 class="center">副标题副标题副标题</h4>
                        <p>要介绍简要介绍简要介绍简要介绍简要介绍简要要介绍简要介绍简要介绍简要介绍简要
                            介绍简要要介绍简要介绍简要介绍简要介绍简要介绍简要要介绍简要介绍简要介绍简要介绍
                            简要介绍简要介绍简要介绍简要介绍简要要介绍简要介绍简要介绍简要介绍简要介绍简要</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>