<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Index</title>
    <link type="text/css" href="/static/css/imgdialog.css"/>
    <title>Document</title>
</head>
<body>


<div id="sideNavDiv"></div>
<main>
    <div class="scrollspy container">
        <div id="project_info" class="row">
            <div class="col s6">
                <h5 class="header" id="pName"/>
                <h5 class="light" id="pInfo"/>
            </div>

        </div>
        <div class="row" style="margin-top:2cm;">
            <div class="row">
                <div class="input-field col s6">
                    <input id="head_1" type="text" class="validate">
                    <label class="active" for="head_1">主标题</label>
                </div>
                <div class="col s6">
                    <a class="waves-effect waves-light btn-small" id="submit_1" style="float: right;">提交修改</a>
                </div>

            </div>
            <div class="row">
                <div class="input-field">
                    <textarea id="head_1_text" type="text" class=" materialize-textarea"></textarea>
                    <label class="active" for="head_1_text">段落</label>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="head_2" type="text" class="validate">
                <label class="active" for="head_2">副标题</label>
            </div>
            <div class="col s6">
                <a class="waves-effect waves-light btn-small" id="submit_2" style="float: right;">提交修改</a>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <textarea id="head_2_text" type="text" class=" materialize-textarea"></textarea>
                <label class="active" for="head_2_text">段落</label>
            </div>

        </div>

        <div class="row section">

            <div class="col s4">
                <img class="circle responsive-img" id="head_31_img" name="imgName" style="margin: 0 auto" src="" alt="图片丢失"/>
                <form action="#" id="uploadForm_1" enctype="multipart/form-data">
                    <div class="file-field input-field">
                        <div class="btn-small">

                            <span>图片</span>
                            <input type="file" name="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        <a class="waves-effect waves-light btn-small" name="upimg" id="upImg_1">提交图片</a>
                    </div>
                </form>

                <div class="input-field ">
                    <input id="head_31" type="text" class="validate">
                    <label class="active" for="head_31">小标题</label>
                </div>
                <div class="input-field">
                    <textarea id="head_31_text" type="text" class=" materialize-textarea"></textarea>
                    <label class="active" for="head_31_text">段落</label>
                </div>
            </div>
            <div class="col s4">
                <img class="circle responsive-img"  src="" alt="图片丢失" id="head_32_img" name="imgName" />
                <form action="#" id="uploadForm_2" enctype="multipart/form-data">
                    <div class="file-field input-field">
                        <div class="btn-small">

                            <span>图片</span>
                            <input type="file" name="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        <a class="waves-effect waves-light btn-small" name="upimg" id="upImg_2">提交图片</a>
                    </div>
                </form>
                <div class="input-field ">
                    <input id="head_32" type="text" class="validate">
                    <label class="active" for="head_32">小标题</label>
                </div>
                <div class="input-field">
                    <textarea id="head_32_text" type="text" class=" materialize-textarea"></textarea>
                    <label class="active" for="head_32_text">段落</label>
                </div>
            </div>
            <div class="col s4">
                <img class="circle responsive-img" id="head_33_img" src="" alt="图片丢失"/>
                <form action="#" id="uploadForm_3" enctype="multipart/form-data">
                    <div class="file-field input-field">
                        <div class="btn-small">

                            <span>图片</span>
                            <input type="file" name="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        <a class="waves-effect waves-light btn-small" name="upimg" id="upImg_3">提交图片</a>
                    </div>
                </form>
                <div class="input-field ">
                    <input id="head_33" type="text" class="validate">
                    <label class="active" for="head_33">小标题</label>
                </div>
                <div class="input-field">
                    <textarea id="head_33_text" type="text" class=" materialize-textarea"></textarea>
                    <label class="active" for="head_33_text">段落</label>
                </div>
            </div>

        </div>

    </div>


</main>
</body>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/materialize/js/materialize.js"></script>

<script>
    /*获取 sideNav.html , 放到 sideNavDiv*/
    $.get("sideNav", function (data) {
        $("#sideNavDiv").html(data);
    });

    $("a[name='upimg']").click(function () {
        var imgPlace = $(this).attr("id");
        var grandFatherId = $(this).parent().parent().attr("id");
        console.log(grandFatherId);
        var formData = new FormData($("#"+grandFatherId)[0]);
        formData.append("imgPlace", imgPlace);
        $.ajax({
            url: "/index/upImg",
            type: "post",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (response) {
                alert(response.msg);
            }
        });

    });

    function imgSrc(){

        $("img[name='imgName']").attr("src","");

    }

    $(document).ready(function () {
        M.updateTextFields();

        $.ajax({
            type: "get",
            url: "/project/info",
            success: function (response) {
                console.log(response);
                $("#pName").html(response.object.name);
                $("#pInfo").html(response.object.id + " " + response.object.managerId);
            },
            fail: function () {
                alert("fail");
            }
        });

        $.ajax({
            type: "get",
            url: "project/index",
            async: false,

            dataType: "json",
            success: function (response) {
                console.log(response);

                $("#head_1").val(response.object.head_1);
                $("#head_1_text").html(response.object.head_1_text);

                $("#head_2").val(response.object.head_2);
                $("#head_2_text").html(response.object.head_2_text);

                $("#head_31").val(response.object.head_31);
                $("#head_31_text").html(response.object.head_31_text);
                var a = response.object.head_31_img;
                $("#head_31_img").attr("src",a);

                $("#head_32").val(response.object.head_32);
                $("#head_32_text").html(response.object.head_32_text);
                $("#head_32_img").attr("src",response.object.head_32_img);

                $("#head_33").val(response.object.head_33);
                $("#head_33_text").html(response.object.head_33_text);
                $("#head_33_img").attr("src",response.object.head_33_img);

                M.textareaAutoResize($("textarea"));
                M.updateTextFields();
            }
        });

    });
</script>
</html>